@page "/news_body"

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="pt-3">
                    <div class="row justify-content-center">
                        <div class="col-xl-8">
                            <div>
                                <div class="text-center">
                                    <div class="mb-4">
                                        <a href="javascript: void(0);" class="badge bg-light font-size-12">
                                            <i class="bx bx-purchase-tag-alt align-middle text-muted me-1"></i> Информационные технологии
                                        </a>
                                    </div>
                                    <h4>Собираем первую полноценную сборку</h4>
                                    <p class="text-muted mb-4"><i class="mdi mdi-calendar me-1"></i> 29 мая 2022</p>
                                </div>

                                <hr>
                                <div class="text-center">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div>
                                                <p class="text-muted mb-2">Категория</p>
                                                <h5 class="font-size-15">Информационные технологии</h5>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="mt-4 mt-sm-0">
                                                <p class="text-muted mb-2">Дата</p>
                                                <h5 class="font-size-15">29 мая 2022</h5>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="mt-4 mt-sm-0">
                                                <p class="text-muted mb-2">Опубликовал</p>
                                                <h5 class="font-size-15">Никита Витальевич Шапаренко</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr>

                                <div class="my-5">
                                    <img src="/assets/images/small/img-2.jpg" alt="" class="img-thumbnail mx-auto d-block">
                                </div>

                                <hr>

                                <div class="mt-4">
                                    <div class="text-muted font-size-14">
                                        <p>После довольно продолжительного цикла разработки, рад продемонстрировать вам новый раздел - "Новости". В нём секретарь или администратор может публиковать различные сообщения, собирать обратный отзыв на них, постить ссылки\видео\записи</p>

                                        <p class="mb-4">Благодаря простой структуре сообщений, которые, по сути - HTML страницы, можно испоьзовать весь функционал HTML - делать как <b>жирные</b> надписи, так и <i>курсивом</i>, <font color="red">красные</font>, так и <font color="green">зелёного цвета надписи</font></p>

                                        <blockquote class="p-4 border-light border rounded mb-4">
                                            <div class="d-flex">
                                                <div class="me-3">
                                                    <i class="bx bxs-quote-alt-left text-dark font-size-24"></i>
                                                </div>
                                                <div>
                                                    <p class="mb-0">Поддерживается цитирование, выделение текста, ссылки на события\задачи\календарь и тд</p>
                                                </div>
                                            </div>

                                        </blockquote>

                                        <p>Это очень удобный сервис, который мы в скорее время доведём до ума, его можно очень удобно использовать для своего удобства</p>


                                        <div class="mt-4">
                                            <h5 class="mb-3">Ключевые слова: </h5>

                                            <div>
                                                <div class="row">
                                                    <div class="col-lg-4 col-sm-6">
                                                        <div>
                                                            <ul class="ps-4">
                                                                <li class="py-1">Информационные технологии</li>
                                                                <li class="py-1">Приложение</li>
                                                                <li class="py-1">Разработка</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 col-sm-6">
                                                        <div>
                                                            <ul class="ps-4">
                                                                <li class="py-1">Новый раздел</li>
                                                                <li class="py-1">Новости</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <hr>

                                   <div class="mt-5">
                                        <h5 class="font-size-15"><i class="bx bx-message-dots text-muted align-middle me-1"></i> Комментарии :</h5>

                                        <div>
                                            <div class="d-flex py-3">
                                                <div class="flex-shrink-0 me-3">
                                                    <div class="avatar-xs">
                                                        <div class="avatar-title rounded-circle bg-light text-primary">
                                                            <i class="bx bxs-user"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="flex-grow-1">
                                                    <h5 class="font-size-14 mb-1">Шапаренко Никита Витальевич <small class="text-muted float-end">29 часов назад</small></h5>
                                                     <p class="text-muted">Благодаря новому движку всё так прям летает - умнички)</p>
                                                    <div>
                                                        <a href="javascript: void(0);" class="text-success"><i class="mdi mdi-reply"></i> Ответить</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="d-flex py-3 border-top">
                                                <div class="flex-shrink-0 me-3">
                                                    <div class="avatar-xs">
                                                        <img src="/assets/images/users/avatar-2.jpg" alt="" class="img-fluid d-block rounded-circle">
                                                    </div>
                                                </div>

                                                <div class="flex-grow-1">
                                                     <h5 class="font-size-14 mb-1">Никита Шапаренко <small class="text-muted float-end">28 часов назад</small></h5>
                                                    <p class="text-muted">Ждём полноценного релиза к продаже</p>
                                                    <div>
                                                        <a href="javascript: void(0);" class="text-success"><i class="mdi mdi-reply"></i> Ответить</a>
                                                    </div>

                                                    <div class="d-flex pt-3">
                                                        <div class="flex-shrink-0 me-3">
                                                            <div class="avatar-xs">
                                                                <div class="avatar-title rounded-circle bg-light text-primary">
                                                                    <i class="bx bxs-user"></i>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="flex-grow-1">
                                                            <h5 class="font-size-14 mb-1">Эвелина Грудина <small class="text-muted float-end">28 часов назад</small></h5>
                                                            <p class="text-muted">Да, скоро уже выпустим!</p>
                                                            <div>
                                                                <a href="javascript: void(0);" class="text-success"><i class="mdi mdi-reply"></i> Ответить</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                           
                                        </div>
                                    </div>

                                    <div class="mt-4">
                                        <h5 class="font-size-16 mb-3">Отставить комментарий</h5>
                                        <h6 class="mb-3">(пока временно функция отключена)</h6>
                                        <form>
                                          @*  <div class="row">
                                                <div class="col-md-6">
                                                    <div class="mb-3">
                                                        <label for="commentname-input" class="form-label">Name</label>
                                                        <input type="text" class="form-control" id="commentname-input" placeholder="Введите">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="mb-3">
                                                        <label for="commentemail-input" class="form-label">Email</label>
                                                        <input type="email" class="form-control" id="commentemail-input" placeholder="Enter email">
                                                    </div>
                                                </div>
                                            </div>*@

                                            <div class="mb-3">
                                               @* <label for="commentmessage-input" class="form-label">Message</label>*@
                                                <textarea class="form-control" id="commentmessage-input" placeholder="Текст сообщения" rows="3"></textarea>
                                            </div>

                                            <div class="text-end">
                                                <button type="submit" class="btn btn-success w-sm">Отправить</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end card body -->
        </div>
        <!-- end card -->
    </div>
    <!-- end col -->
</div>