@using EviCRM.Server.ViewModels

<div class="modal fade show" id="myModal" style="display:block; background-color: rgba(10,10,10,.8);" aria-modal="true" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Отменить выполнение задачи</h4>
                <button type="button" class="close" @onclick="@ModalCancel">&times;</button>
            </div>
            <div class="modal-body">

         <div class="form-group row mb-4">
        <label for="ttm_question_title">Почему вы хотите отказать выполнять задачу?</label>
             
        <ul>
            <li><p><button type="button" @onclick='(() => SendTOScriptCmd("REFUSE_NOTME"))' class="btn btn-primary waves-effect waves-light">Эта задача со мной не связана</button></p></li>
            <li><p><button type="button" @onclick='(() => SendTOScriptCmd("REFUSE_IMPOSSIBLE"))' class="btn btn-primary waves-effect waves-light">Считаю её невозможной</button></p></li>
             <li><p><button type="button" @onclick='(() => SendTOScriptCmd("REFUSE_NOWAY"))' class="btn btn-primary waves-effect waves-light">Не согласен с условиями выполнения задачи</button></p></li>
        </ul>
    </div>
            </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-danger waves-effect" data-bs-dismiss="modal">Отказываюсь выполнять задачу</button>
               <button type="button" class="btn" @onclick="@ModalCancel">Отмена</button>             
            </div>
        </div>
    </div>
</div>

@code {

    TOScript to_script = new TOScript();

    [Parameter]
    public string task_id { get; set; }

    [Parameter]
    public string task_author { get; set; }

    [Parameter]
    public EventCallback<bool> OnClose { get; set; }

    [Parameter]
    public ModalDialogType DialogType { get; set; }

    private Task ModalCancel()
    {
        return OnClose.InvokeAsync(false);
    }

    private Task ModalOk()
    {
        return OnClose.InvokeAsync(true);
    }

    public enum ModalDialogType
    {
        Ok,
        OkCancel,
        DeleteCancel
    }

    public async Task SendTOScriptCmd(string cmd)
    {
        EviCRM.Server.ViewModels.TaskTrackingModelRefuse ttmr = new TaskTrackingModelRefuse();
        ttmr.task_author = task_author;
        ttmr.task_id = task_id;

        switch(cmd)
        {
            case "REFUSE_NOTME":
                await to_script.REFUSE_NOTME(ttmr);
                break;
            case "REFUSE_IMPOSSIBLE":
                await to_script.REFUSE_IMPOSSIBLE(ttmr);
                break;
            case "REFUSE_NOWAY":
                await to_script.REFUSE_NOWAY(ttmr);
                break;
          
            default:
                 await to_script.REFUSE_IMPOSSIBLE(ttmr);
                break;

        }

        await OnClose.InvokeAsync(true);
    }
}
